<style>

    .maindiv{
        display: flex;
        align-items: center;
        justify-content: center;


    }
    .subdiv{
        border-radius: 10px;
        width: 400;
        height: auto;
         border: 2px solid pink;
          margin-top: 20px;
        font-family:inherit;
        padding: 10px;
        background-color: antiquewhite;
        color:coral;

    }
    .btndiv{
     display: flex;
        align-items: center;
        justify-content: center;
        border:1px solid pink;
        border-radius: 90px;
    }

    .btn{
        width:100px;
        margin:5px;
    }



    .form-control{
        text-align: center;
        font-family:inherit;

    }

    .headingdiv{

        border-radius: 10px;
        text-align: center;
        text-decoration-line: underline;
        border: 1px solid pink;
    }
</style>

<!DOCTYPE html>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
<script src="/static/category.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>update/del interface</title>
</head>
<body>
<form action="/songeditdelsubmit" method="post" enctype="multipart/form-data">{%csrf_token%}
<div class="maindiv">
    <div class="subdiv">
    <div class="headingdiv"> <h3>Data Interface</h3></div>
                   <input type="hidden" class="form-control" name="sid" value="{{row.0}}">
 <div class="form-group">
       <select id="cid"  class="form-control" name="cid" >
           <option value="{{row.1}}">{{row.12}}</option>
       </select>
       <small  class="form-text text-muted">Select MainCategory-id for this subcategory</small>
      </div>

        <div class="form-group">
       <select id="scid"  class="form-control" name="scid" >
           <option value="{{row.2}}">{{row.13}}</option>
       </select>
       <small  class="form-text text-muted">Select Sub-Category-id for this Song</small>
      </div>

<!--        <div class="form-group">-->
<!--       <label >SubCategory id</label>-->
<!--       <input type="text" class="form-control" placeholder="SubCategory Id" name="scid" value="{{row.2}}">-->
<!--      </div>-->

<!--SubCat ID-->


<!--Release year-->
<!--Lyrics-->
<!--Status-->
<!--Type-->
<!--Singers-->
<!--Director-->
<!--MusicCompany-->
<!--poster-->

         <div class="form-group">
       <label >Song Title</label>
       <input type="text" class="form-control" placeholder="Song Title" name="stitle" value="{{row.3}}">
      </div>
        <div class="form-group">
       <label >release year</label>
       <input type="text" class="form-control" placeholder="release year" name="srlyr" value="{{row.4}}">
      </div>
<!--      <div class="form-group">-->
<!--       <label >Lyrics</label>-->
<!--      <input type="file" class="form-control"  name="slyrics" value="{{row.5}}">-->


<!--      </div>-->

         <div class="form-group ">
       <label >Status</label><br>
            <input type="radio" required id="movie" name="sstatus" value="movie">
<label for="movie">movie</label><br>
<input type="radio" id="album" required name="sstatus" value="album">
<label for="album">album</label>
        </div>
        <div class="form-group ">
       <label >Type</label><br>

            <input type="radio" id="audio" required name="stype" value="audio">
<label for="audio">audio</label><br>
<input type="radio" id="video" name="stype" required value="video">
<label for="video">video</label>
        </div>
         <div class="form-group">
       <label >Singers</label>
      <input type="text" class="form-control" placeholder="Singers" name="ssingers" value="{{row.8}}">
      </div>
 <div class="form-group">
       <label >Director</label>
      <input type="text" class="form-control" placeholder="Director" name="sdirector" value="{{row.9}}">
      </div>
         <div class="form-group">
       <label >MusicCompany</label>
      <input type="text" class="form-control" placeholder="MusicCompany" name="scompany" value="{{row.10}}">
      </div>

      <div class="btndiv">
          <button type="submit" name="btn" value="edit" class="btn btn-primary btn">Edit </button>
          <button type="submit" name="btn" value="delete" class="btn btn-primary btn">Delete</button>
      </div>
         <div class="form-group maindiv">
       <label>{{msg}}</label>
         </div>
    </div>
</div>
    </form>
<form action="/songeditpicture" method="post" enctype="multipart/form-data">{%csrf_token%}
           <input type="hidden" class="form-control" name="sid" value="{{row.0}}">

<div class="maindiv">
    <div class="subdiv">
        <div class="form-row">
          <div class="col">
      <label >Song Poster</label>
    <input type="file" required class="form-control" name="sposter" value="{{row.11}}">
     </div>
          <div class="col img">
              <img src="/static/{{row.11}}" width="100" height="100" name="sposter" class="rounded float-left" alt="{{row.11}}" >
          </div>
          </div>
  <div class="btndiv">
          <button type="submit"  name="btn"   value="edit picture" class="btn btn-primary btn">Edit </button>

      </div>


    </div>
</div>
</form>
<form action="/songeditlyrics" method="post" enctype="multipart/form-data">{%csrf_token%}
           <input type="hidden" class="form-control" name="sid" value="{{row.0}}">

<div class="maindiv">
    <div class="subdiv">
        <div class="form-row">
          <div class="col">
      <label >mp3 File - {{row.5}}</label>
    <input type="file" required class="form-control" name="slyrics" value="{{row.5}}">



  <div class="btndiv">
          <button type="submit"  name="btn"   value="edit picture" class="btn btn-primary btn">Edit </button>

      </div>


    </div>
</div>
</form>
</body>
</html>